---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: echo
  namespace: argo-system
  annotations:
    argocd.argoproj.io/sync-wave: '0'
spec:
  project: kubernetes
  sources:
    - repoURL: "https://github.com/#{ repository_name }#.git"
      path: kubernetes/apps/default/echo
      targetRevision: #{ repository_branch }#
      ref: repo
    - repoURL: ghcr.io/bjw-s/helm
      chart: app-template
      targetRevision: 3.7.3
      helm:
        releaseName: echo
        valueFiles:
          - $repo/kubernetes/apps/default/echo/values.sops.yaml
  destination:
    name: in-cluster
    namespace: default
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
