# ---
# kind: Application
# apiVersion: argoproj.io/v1alpha1
# metadata:
#   name: 1password
#   namespace: argo-system
# spec:
#   project: kubernetes
#   sources:
#     - repoURL: "https://github.com/skel84/home-ops.git"
#       path: kubernetes/apps/kube-system/external-secrets/1password
#       targetRevision: main
#       ref: repo
#     - repoURL: https://bjw-s-labs.github.io/helm-charts
#       chart: app-template
#       targetRevision: 4.0.1
#       helm:
#         releaseName: 1password
#         valueFiles:
#           - $repo/kubernetes/apps/kube-system/external-secrets/1password/values.yaml
#   destination:
#     name: in-cluster
#     namespace: kube-system
#   syncPolicy:
#     automated:
#       allowEmpty: true
#       prune: true
#       selfHeal: true
#     syncOptions:
#       - CreateNamespace=true
#       - ServerSideApply=true
#       - RespectIgnoreDifferences=true
