---
fullnameOverride: k8s-gateway
domain: "#{ cloudflare_domain }#"
ttl: 1
service:
  type: LoadBalancer
  port: 53
  annotations:
    io.cilium/lb-ipam-ips: "#{ cluster_dns_gateway_addr }#"
  externalTrafficPolicy: Cluster
watchedResources: ["Ingress", "Service"]
