---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coredns
  namespace: argo-system
  annotations:
    argocd.argoproj.io/sync-wave: '0'
spec:
  project: kubernetes
  sources:
    - repoURL: "https://github.com/#{ repository_name }#.git"
      path: kubernetes/apps/kube-system/coredns
      targetRevision: #{ repository_branch }#
      ref: repo
    - repoURL: ghcr.io/coredns/charts
      chart: coredns
      targetRevision: 1.39.2
      helm:
        releaseName: coredns
        valueFiles:
          - $repo/kubernetes/apps/kube-system/coredns/values.yaml
  destination:
    name: in-cluster
    namespace: kube-system
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
