---
# yaml-language-server: $schema=https://json.schemastore.org/helmfile

helmDefaults:
  cleanupOnFail: true
  wait: true
  waitForJobs: true
  # waitRetries: 3 # Not supported by Helm yet

repositories:
  - name: argo-helm
    url: ghcr.io/argoproj/argo-helm
    oci: true

  - name: coredns
    url: ghcr.io/coredns/charts
    oci: true

  - name: cilium
    url: https://helm.cilium.io

  - name: jetstack
    url: https://charts.jetstack.io

  #% if spegel_enabled %#
  - name: spegel
    url: ghcr.io/spegel-org/helm-charts
    oci: true
  #% endif %#

releases:
  - name: cilium
    namespace: kube-system
    atomic: true
    chart: cilium/cilium
    version: 1.17.2
    values: ['{{ requiredEnv "ROOT_DIR" }}/kubernetes/apps/kube-system/cilium/values.yaml']

  - name: coredns
    namespace: kube-system
    atomic: true
    chart: coredns/coredns
    version: 1.39.2
    values: ['{{ requiredEnv "ROOT_DIR" }}/kubernetes/apps/kube-system/coredns/values.yaml']
    needs: ['kube-system/cilium']

  #% if spegel_enabled %#
  - name: spegel
    namespace: kube-system
    atomic: true
    chart: spegel/spegel
    version: 0.1.1
    values: ['{{ requiredEnv "ROOT_DIR" }}/kubernetes/apps/kube-system/spegel/values.yaml']
    needs: ['kube-system/coredns']
  #% endif %#

  - name: cert-manager
    namespace: cert-manager
    atomic: true
    chart: jetstack/cert-manager
    version: v1.17.1
    values: ['{{ requiredEnv "ROOT_DIR" }}/kubernetes/apps/cert-manager/cert-manager/values.yaml']
    #% if spegel_enabled %#
    needs: ['kube-system/spegel']
    #% else %#
    needs: ['kube-system/coredns']
    #% endif %#

  - name: argo-cd
    namespace: argo-system
    chart: argo-helm/argo-cd
    version: 7.8.14
    secrets: ['{{ requiredEnv "ROOT_DIR" }}/kubernetes/apps/argo-system/argo-cd/values.sops.yaml']
    needs: ['cert-manager/cert-manager']
