---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kubevirt-manager
  namespace: argo-system
  annotations:
    argocd.argoproj.io/sync-wave: '1'
spec:
  project: kubernetes
  sources:
    - repoURL: "https://github.com/skel84/home-ops.git"
      path: kubernetes/apps/kubevirt/kubevirt-manager
      targetRevision: main
      ref: repo
  destination:
    name: in-cluster
    namespace: kubevirt-manager
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
