---
kind: Application
apiVersion: argoproj.io/v1alpha1
metadata:
  name: plex
  namespace: argo-system
spec:
  project: kubernetes
  sources:
    - repoURL: "https://github.com/skel84/home-ops.git"
      path: kubernetes/apps/media/plex/
      targetRevision: main
      ref: repo
    - chart: plex
      repoURL: https://raw.githubusercontent.com/plexinc/pms-docker/gh-pages
      # targetRevision: 1.0.2
      helm:
        valueFiles:
          - $repo/kubernetes/apps/media/plex/values.yaml
        values: |
          preUpgradeChecker:
            jobEnabled: false
  destination:
    name: in-cluster
    namespace: media
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
