---
kind: Application
apiVersion: argoproj.io/v1alpha1
metadata:
  name: kubernetes-secret-generator
  namespace: argo-system
spec:
  project: kubernetes
  sources:
    - chart: secret-generator
      repoURL: https://mittwald.github.io/kubernetes-secret-generator/
      targetRevision: 3.4.1
      # helm:
      #   valueFiles:
      #     - $repo/kubernetes/apps/security/secret-generator/values.yaml
      #   values: |
      #     preUpgradeChecker:
      #       jobEnabled: false
  destination:
    name: in-cluster
    namespace: security
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
