# Frigate Configuration
mqtt:
  host: mosquitto.rbl.lol
  topic_prefix: frigate
  # user: mqtt
  # password: '{FRIGATE_MQTT_PASSWORD}'

go2rtc:
  streams:
    soggiorno:
      - ffmpeg:http://192.168.0.157/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=admin&password=admin1234#video=copy#audio=copy#audio=opus
      # - rtsp://admin:admin1234@192.168.0.157:554/Preview_01_main
    soggiorno_sub:
      - ffmpeg:http://192.168.0.157/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=admin&password=admin1234
      # - rtsp://admin:admin1234@192.168.0.157:554/Preview_01_sub
    ufficio:
      - ffmpeg:http://192.168.0.148/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=admin&password=admin1234#video=copy#audio=copy#audio=opus
      # - rtsp://admin:admin1234@192.168.0.145:554/Preview_01_main
    ufficio_sub:
      - ffmpeg:http://192.168.0.148/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=admin&password=admin1234
      # - rtsp://admin:admin1234@192.168.0.145:554/Preview_01_sub
    balcone_est:
      - ffmpeg:http://192.168.0.141/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=admin&password=admin1234#video=copy#audio=copy#audio=opus
      # - rtsp://admin:admin1234@192.168.0.141:554/Preview_01_main
    balcone_est_sub:
      - ffmpeg:http://192.168.0.141/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=admin&password=admin1234
      # - rtsp://admin:admin1234@192.168.0.141:554/Preview_01_sub
    camera_letto:
      - ffmpeg:http://192.168.0.9/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=admin&password=admin1234#video=copy#audio=copy#audio=opus
      # - rtsp://admin:admin1234@192.168.0.9:554/Preview_01_main
    camera_letto_sub:
      - ffmpeg:http://192.168.0.9/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=admin&password=admin1234
      # - rtsp://admin:admin1234@192.168.0.9:554/Preview_01_sub
    camera_pippi:
      - ffmpeg:http://192.168.0.125/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=admin&password=admin1234#video=copy#audio=copy#audio=opus
      # - rtsp://admin:admin1234@192.168.0.125:554/Preview_01_main
    camera_pippi_sub:
      - ffmpeg:http://192.168.0.125/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=admin&password=admin1234
      # - rtsp://admin:admin1234@192.168.0.125:554/Preview_01_sub
    terrazzo_ovest:
      - ffmpeg:http://192.168.0.176/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=admin&password=admin1234#video=copy#audio=copy#audio=opus
      # - rtsp://admin:admin1234@192.168.0.176:554/Preview_01_main
    terrazzo_ovest_sub:
      - ffmpeg:http://192.168.0.176/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=admin&password=admin1234
      # - rtsp://admin:admin1234@192.168.0.176:554/Preview_01_sub

cameras:
  soggiorno:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/soggiorno
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/soggiorno_sub
          roles:
            - detect
    # onvif:
    #   host: 192.168.0.157
    #   port: 8000
    #   user: admin
    #   password: admin1234

  ufficio:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/ufficio
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/ufficio_sub
          roles:
            - detect
    # onvif:
    #   host: 192.168.0.145
    #   port: 8000
    #   user: admin
    #   password: admin1234

  camera_pippi:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/camera_pippi
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/camera_pippi_sub
          roles:
            - detect
    # onvif:
    #   host: 192.168.0.125
    #   port: 8000
    #   user: admin
    #   password: admin1234

  camera_letto:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/camera_letto
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/camera_letto_sub
          roles:
            - detect
    # onvif:
    #   host: 192.168.0.148
    #   port: 8000
    #   user: admin
    #   password: admin1234

  terrazzo_ovest:
    enabled: true
    ffmpeg:
      input_args:
        - -rtsp_transport
        - tcp
      inputs:
        - path: rtsp://127.0.0.1:8554/terrazzo_ovest
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/terrazzo_ovest_sub
          roles:
            - detect
    # onvif:
    #   host: 192.168.0.176
    #   port: 8000
    #   user: admin
    #   password: admin1234

  balcone_est:
    enabled: true
    ffmpeg:
      input_args:
        - -rtsp_transport
        - tcp
      inputs:
        - path: rtsp://127.0.0.1:8554/balcone_est
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/balcone_est_sub
          roles:
            - detect
    # onvif:
    #   host: 192.168.0.141
    #   port: 8000
    #   user: admin
    #   password: admin1234

detect:
  enabled: true

detectors:
  ov:
    type: openvino
    device: GPU
    model:
      path: /openvino-model/FP16/ssdlite_mobilenet_v2.xml

# model:
#   model_type: yolonas
#   width: 320
#   height: 320
#   input_tensor: nchw
#   input_pixel_format: bgr
#   path: /openvino-model/yolonas/yolo_nas_m.onnx
#   labelmap_path: /labelmap/coco-80.txt

# model:
#   width: 300
#   height: 300
#   input_tensor: nhwc
#   input_pixel_format: bgr
#   labelmap_path: /openvino-model/coco_91cl_bkgr.txt
# version: 0.14
# version: 0.15

auth:
  enabled: false

database:
  path: /config/frigate.db

birdseye:
  enabled: true
  # restream: true
  mode: continuous

ffmpeg:
  hwaccel_args: preset-intel-qsv-h264
  output_args:
    record: preset-record-generic-audio-aac

  # hwaccel_args:
  #   - -hwaccel
  #   - vaapi
  #   - -hwaccel_device
  #   - /dev/dri/renderD128
  # input_args:
  #   - -avoid_negative_ts
  #   - make_zero
  #   - -fflags
  #   - +genpts+discardcorrupt
  #   - -rtsp_transport
  #   - tcp

objects:
  track:
    - person
    - dog
    - cat
    - bird
  filters:
    person:
      min_area: 3000
      max_area: 100000
      threshold: 0.75
    dog:
      min_area: 1000
      max_area: 10000
      threshold: 0.75
    cat:
      min_area: 1000
      max_area: 10000
      threshold: 0.75

record:
  enabled: true
  retain:
    days: 3
    mode: all
  alerts:
    retain:
      days: 3
      mode: active_objects
  detections:
    retain:
      days: 14
      mode: active_objects

review:
  alerts:
    labels:
      - person
      - dog
      - car
  detections:
    labels:
      - person
      - dog
      - cat

snapshots:
  enabled: true
  timestamp: false
  bounding_box: true
  crop: false
  retain:
    default: 7
