controllers:
  main:
    annotations:
      secret.reloader.stakater.com/reload: frigate-secret
      configmap.reloader.stakater.com/reload: frigate-configmap
    pod:
      nodeSelector:
        intel.feature.node.kubernetes.io/gpu: "true"
    containers:
      main:
        image:
          repository: ghcr.io/blakeblackshear/frigate
          tag: 0.15.1@sha256:c4e02d2c511847eebbda8e0e370b41c78e7b51247353de79340e06c3e95f11be
        env:
          TZ: Europe/Rome
          FRIGATE_DISABLE_AUTH: "true"
        envFrom:
          - secretRef:
              name: frigate-secret
        securityContext:
          privileged: true
        # probes:
        #   liveness: &probes
        #     enabled: true
        #     custom: true
        #     spec:
        #       httpGet:
        #         path: /api/version
        #         port: 5000
        #       initialDelaySeconds: 0
        #       periodSeconds: 10
        #       timeoutSeconds: 1
        #       failureThreshold: 3
        #   readiness: *probes
        #   startup:
        #     enabled: false
        resources:
          requests:
            memory: 1000Mi
            cpu: 1500m
            gpu.intel.com/i915: 1
          limits:
            memory: 4000Mi
            gpu.intel.com/i915: 1

service:
  main:
    controller: main
    type: LoadBalancer
    externalTrafficPolicy: Local
    loadBalancerIP: 192.168.0.57
    # annotations:
    #   external-dns.alpha.kubernetes.io/hostname: home-assistant.rbl.lol
    ports:
      http:
        port: &port 5000
        primary: true
      go2rtc:
        enabled: true
        port: &apiPort 1984
      rtsp:
        enabled: true
        port: 8554

ingress:
  main:
    className: internal
    hosts:
      - host: "frigate.rbl.lol"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: *port

persistence:
  config:
    suffix: config
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 10Gi
    globalMounts:
      - path: /config
  config-file:
    type: configMap
    name: frigate-configmap
    globalMounts:
      - path: /config/config.yml
        subPath: config.yml
        readOnly: true
  media:
    type: nfs
    server: 192.168.0.217
    path: /volume1/Recordings
    globalMounts:
      - path: /media
  cache:
    type: emptyDir
    medium: Memory
    sizeLimit: 4Gi
    globalMounts:
      - path: /dev/shm
