ingress:
  # -- Specify if an ingress resource for the pms server should be created or not
  enabled: true
  url: plex.rbl.lol
  ingressClassName: internal

pms:
  claimSecret:
    name: "plex-claim-secret"
    key: "plex-claim-secret"

  livenessProbe:
    httpGet:
      path: /identity
      port: 32400
    initialDelaySeconds: 60
    periodSeconds: 60
    timeoutSeconds: 1
    failureThreshold: 3

  # -- Add kubernetes readiness probe to pms container.
  readinessProbe:
    httpGet:
      path: /identity
      port: 32400
    initialDelaySeconds: 60
    periodSeconds: 60
    timeoutSeconds: 1
    failureThreshold: 3

extraEnv:
  ALLOWED_NETWORKS: "192.168.0.0/24"

# Mount the media volume from NFS
extraVolumeMounts:
  - name: media
    mountPath: /data
    readOnly: false

# Reference the existing media NFS PVC
extraVolumes:
  - name: media
    persistentVolumeClaim:
      claimName: media-nfs-pvc
