# ingress:
#   # -- Specify if an ingress resource for the pms server should be created or not
#   enabled: true
#   url: plex.rbl.lol
#   ingressClassName: internal

pms:
  claimSecret:
    name: "plex-claim-secret"
    key: "plex-claim-secret"

service:
  type: LoadBalancer
  port: 32400
  annotations:
    lbipam.cilium.io/ips: 192.168.0.50
    external-dns.alpha.kubernetes.io/hostname: plex.rbl.lol
  externalTrafficPolicy: Cluster

  # livenessProbe:
  #   httpGet:
  #     path: /identity
  #     port: 32400
  #   # initialDelaySeconds: 60
  #   periodSeconds: 60
  #   timeoutSeconds: 1
  #   failureThreshold: 3

  # # -- Add kubernetes readiness probe to pms container.
  # readinessProbe:
  #   httpGet:
  #     path: /identity
  #     port: 32400
  #   # initialDelaySeconds: 60
  #   periodSeconds: 60
  #   timeoutSeconds: 1
  #   failureThreshold: 3
  securityContext:
    privileged: true
    supplementalGroups: [44]

extraEnv:
  ALLOWED_NETWORKS: "192.168.0.0/24"

extraVolumeMounts:
  # Mount the media volume from NFS
  - name: media
    mountPath: /data
    readOnly: false
  # intel igpu device plugin
  - name: dev-dri
    mountPath: /dev/dri

extraVolumes:
  # Reference the existing media NFS PVC
  - name: media
    persistentVolumeClaim:
      claimName: media-nfs-pvc
  # intel igpu device plugin
  - name: dev-dri
    hostPath:
      path: /dev/dri
      type: Directory
